.articles-container {
}
.article-info-container {
	display: grid;
	grid-template-columns: 2fr 3fr 3fr;
	grid-template-rows: 2fr 2fr;
	grid-template-areas: "img title title" "img votes comments";
}

img {
	grid-area: img;
}

.title {
	grid-area: title;
}
.votes {
	grid-area: votes;
}

.comments {
	grid-area: comments;
}
