.homepage {
	height: 100vh;
	display: grid;
	grid-template-rows: 4fr 10fr;
	grid-template-columns: 3fr 3fr 6fr;
	grid-template-areas: "header-section header-section header-section" "chart-section chart-section main-articles";
}

.header-section {
	grid-area: header-section;
}
.chart-section {
	grid-area: chart-section;
	border: red solid 1px;
}

.main-articles {
	grid-area: main-articles;
	border: red solid 1px;
}
