.homepage {
	height: 100vh;
	display: grid;
	grid-template-rows: 4fr 10fr;
	grid-template-columns: 3fr 3fr 6fr;
	grid-template-areas: "header-section header-section header-section" "dashboard-section dashboard-section main-articles";
}

.header-section {
	grid-area: header-section;
}
.dashboard-section {
	grid-area: dashboard-section; 
}

.main-articles {
	grid-area: main-articles;
}
